.heading-text {
    font-family: 'Jura', Courier, monospace;
}

.container-bg {
    background-color: rgba(22,22,22,1) !important;
}

.border-orange {
    border: 2px solid #d17f3f !important;
}


.range-slider--primary::-webkit-slider-thumb {
    background: #d17f3f !important;
}