.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4a3d07;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.modal-content {
  background-color: #4a3d07;
  font-size: calc(10px + 2vmin);
  background-color: #172121 !important;
  color: white;
}

.modal-content h4 {
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-header {
  background-color: #0E6B0E;
}

.App-header {
  background-color: #172121;
}

.css-1dimb5e-singleValue, .css-1jqq78o-placeholder, p, a {
  color: #D4F4DD !important;
}

div.dropdown-menu.show {
  border-radius: 10px;
  border-color: #FFF;
  background-color: #0E6B0E;
  color: #D4F4DD;
}

.dropdown-item:hover {
  background-color: #000000 !important;
}

form {
  border: solid;
  border-radius: 2px;
  border-color: #000000;
}

form button {
  background-color: #325970;
  color: #FFFFFF;
}

form input {
  background-color: #325970;
  color: #FFFFFF;
}

form input::placeholder {
  color: #AAAAAA;
}


